.ip{
    background-color: azure;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: black;
}

.ip:hover{
    border-color: darkcyan;
}

.btn{
    background-color: darkcyan;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: black;
    border-radius: 5px;
}

.btn:hover{
    border-color: darksalmon;
}

