.a{
    background-color: rgba(rgb(17, 105, 105), green, blue, alpha);
    padding-top: 10px;
    padding-left: 10px;
}

.a::o

.b
{
    background-color: rgba(rgb(19, 70, 125), green, blue, alpha);
}